.score {
  width: 100%;
  position: relative;
  top: 40%;
  font-family: Jalnan;
  text-align: center;
  font-size: 12vh;
  font-weight: 400;
  color: white;
  -webkit-text-stroke: 0.6vh rgb(0, 63, 105);
}

.life {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2%;
}

.heart {
  position: relative;
  width: 20%;
  margin-top: 20%;
}

.judgeSign {
  position: fixed;
  width: 20vmin;
  height: 20vmin;
  transform: translate(-50%, -50%);
  top: 36%;
  left: 50%;
}

.judgeSign svg {
  stroke: white;
  stroke-width: 4px;
  animation: signTwinkle 800ms
}

.judgeSign .passSign {
  width: 100%;
  height: 100%;
  color: rgb(0, 113, 218);
}

.judgeSign .failSign {
  width: 100%;
  height: 100%;
  color: rgb(255, 47, 47);
}

@keyframes signTwinkle {
  0%, 20%, 31%, 100% {
    visibility: inherit;
  }
  21%, 30% {
    visibility: hidden;
  }
}
