.Game {
  position: relative;
}

.Game .screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game .screen .charName {
  font-size: 40px;
  margin-bottom: 20px;
}

.Game .screen .score {
  font-size: 80px;
  margin-bottom: 20px;
}

.Game .screen .life {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Game .screen .life .heart {
  font-size: 60px;
  width: 80px;
}

.Game .toggleButton {
  z-index: 10;
}