button {
  font-size: 36px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(11, 116, 202);
  cursor: pointer;
}

button:hover {
  background-color: rgb(50, 163, 255);
  color: white;
}