.Character {
  box-sizing: border-box;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.6);
}

.Character .body {
  position: relative;
  width: 100px;
  height: 200px;
  animation: breathing 0.5s ease-in-out infinite;
}

.Character .userName {
  width: 100px;
  position: absolute;
  top: -110px;
  font-size: 32px;
  font-weight: 600;
  padding: 10px;
}

.Character .head {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.Character .left {
  position: absolute;
  transform: translateX(-100%);
  z-index: 1;
}

.Character .right {
  position: absolute;
  transform: translateX(40%);
  z-index: 1;
}

.Character .legs {
  position: absolute;
  z-index: -1;
  top: 30%;
  animation: breathing_leg 0.5s ease-in-out infinite;
}

.Character .left_up {
  top: -150%;
}

.Character .right_up {
  top: -130%;
}

@keyframes breathing {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
}

@keyframes breathing_leg {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
}