.ControlInfo {
    position: fixed;
    top: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20vh;
    color: rgba(0, 0, 0, 0.7);
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: mobileInfo 1s ease-in-out infinite;
    color: rgba(0, 0, 0, 0.7);
}

.mobile svg {
    width: 8vh;
    height: 8vh;
}

@keyframes mobileInfo {
    0%, 15%, 30%, 45%, 60%, 80%, 100% {
        transform: translateY(0%);
        color: rgba(0, 0, 0, 0.7);
    }
    20%, 25%, 50%, 55% {
        transform: translateY(2%);
        color: rgba(0, 0, 0, 0.7);
    }
    85%, 90% {
        transform: translateY(0%);
        color: rgba(0, 0, 0, 0.5);
    }
}

.pc {
    position: relative;
}

.pc .text {
    background-color: rgb(247, 247, 243);
    padding: 8px 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    animation: pcInfo 1s ease-in-out infinite;
}

.pc .keyShadow {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 4px;
    background-color: rgba(200, 200, 200);
    padding: 8px 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0);
}

@keyframes pcInfo {
    0%, 20%, 27%, 45%, 52%, 100% {
        transform: translate(0);
    }
    22%, 25%, 47%, 50% {
        transform: translate(1px, 1px);
    }
}